/datasets
/segment-anything-2
/output_video_segmented.mp4
/output.mp4
sam2_b.pt
/validated_images
/Dataset.zip
/image_checkpoints
/training_checkpoints
/logs
/.history
/Duncan
/full_frame_CLASSIFIED.jpg
/full_frame.jpg
/generated_image.png
/image_CLASSIFIED.png
/image.png
/models