body, html {
    /* margin: 0; */
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #e8e8e8;
    overflow: hidden;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #e3f2fd;
    text-align: center;
    /* margin-top: 20px; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
}

#container {
    height: 100%;
    width: 100%;
    /* margin-top: 5vh; */
    position: relative;
}

#top-panel {
    height: auto;
    margin-top: 2vh;
    /* background: rgba(255, 255, 255, 0.85); */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInDown 1s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#main-content {
    height: 80%;
    animation: fadeIn 2s;
    /* margin-top: 6vh; */
    /* position: relative; */
    /* background: linear-gradient(135deg, #293241 0%, #98c1d9 100%); */
    background: transparent;
}

#Test h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #e3f2fd;
    text-align: center;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Base style for the dropdown */
#existingDatasets {
    background-color: transparent;
    color: white;
}

/* Style for the dropdown options */
#existingDatasets option {
    background-color: #3d5a80;
    color: white;
}

/* Style for hovered options */
#existingDatasets option:hover {
    background-color: lightblue;
    color: white;
}

/* Style for selected options */
#existingDatasets option:checked {
    background-color: #6b727a;
    color: white;
}

/* Style for focused dropdown */
#existingDatasets:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.5); /* Add custom focus shadow */
}

#datasetName {
    margin: 10px 0px;
}

#datasetNameLabel {
    margin-top: 30px;
}

.dataset_buttons {
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 150%);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.dataset_buttons:hover {
    background: linear-gradient(135deg, #3d5a80 0%, #1e2a38 150%);
    transform: scale(1.05);
}

.dataset_buttons:active {
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 150%);
    transform: scale(0.95);
}

.dataset_buttons:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.5);
}






.tab {
    position: relative;
    display: flex;
    width: 40%;
    justify-content: center;
    border-bottom: 2px solid #444;
    background: #2F3B51;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 0;
    /* margin: 2rem auto; */
}
.tablinks{
    width: 100%;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 18px;
    color: #ffffff;
    margin: 0 20px;
    transition: color 0.3s;
    font-family: 'Poppins', sans-serif;
}

.tab button:hover {
    color: #ffffff;
}

.tab button.active {
    color: white;
}

.tab .active-indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    background: linear-gradient(135deg, #2b394a 0%, #ffffff 100%);
    border-radius: 2px;
    transition: all 0.3s ease;
}



.tabcontent {
    display: none;
    height: 100%;
    width: 100%;
}

#Test, #Train, #CreateDataset {
    height: 100%;
    width: 100%;
}

.panel {
    opacity: 0;
    animation: fadeInPanel 1s forwards;
}

@keyframes fadeInPanel {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.correction-model-select-block {
    width: 14%;
    margin: auto;
    /* margin-top: 1vh; Adjust this value to shift upwards */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: inherit;
    padding: 5px;
    animation: fadeIn 1s;
}



/* Base style for the dropdown */
#correction-select-model {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 2px solid #ffff;
    min-width: 100%;
}

/* Style for the dropdown options */
#correction-select-model option {
    background-color: #3d5a80;
    color: white;
}

/* Style for hovered options */
#correction-select-model option:hover {
    background-color: lightblue;
    color: white;
}

/* Style for selected options */
#correction-select-model option:checked {
    background-color: #6b727a;
    color: white;
}

/* Style for focused dropdown */
#correction-select-model:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.5); /* Add custom focus shadow */
}

/* Base style for the checkpoint dropdown */
#correction-select-model-checkpoint {
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 2px solid #ffff;
    min-width: 60%;
}

/* Style for the dropdown options */
#correction-select-model-checkpoint option {
    background-color: #3d5a80;
    color: white;
}

/* Style for hovered options */
#correction-select-model-checkpoint option:hover {
    background-color: lightblue;
    color: white;
}

/* Style for selected options */
#correction-select-model-checkpoint option:checked {
    background-color: #6b727a;
    color: white;
}

/* Style for focused dropdown */
#correction-select-model-checkpoint:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.5); /* Add custom focus shadow */
}

/* Style for the calibration button */
#calibration-btn {
    margin-left: 10px;
    background: none; /* No background since we're using an image */
    border: none; /* Remove the button border */
    outline: none; /* Remove the focus outline */
    padding: 0; /* Remove any extra padding */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover effect for the calibration button */
#calibration-btn:hover {
    transform: scale(1.05); /* Slightly larger on hover */
}

/* Active state when the button is clicked */
#calibration-btn:active {
    transform: scale(0.95); /* Shrink slightly when clicked */
}

/* Optional: Adjust the image inside the button if needed */
#calibration-btn img {
    width: 30px; /* Set the size of the image */
    height: 30px; /* Maintain square size */
    display: block; /* Ensure image is centered and no extra space */
    pointer-events: none; /* Prevent the image from interfering with button events */
    border: none; /* Remove the button border */
    outline: none; /* Remove the focus outline */
    padding: 0; /* Remove any extra padding */
}


#left-panel {
    float: left;
    width: 48%;
    height: 94%;
    margin-top: -1%;
    margin-left: 1%;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInLeft 1.5s forwards;
}
 
#live-video-left {
    /* margin-top: 10vh; */
    background: #2F3B51;
    height: 100vh;
    width: 100vw;
}

#right-panel {
    float: right;
    width: 48%;
    height: 94%;
    margin-top: -1%;
    margin-right: 1%;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInRight 1.5s forwards;
}

#live-video-right {
    /* margin-top: 10vh;  */
    background: #2F3B51;
    height: 100vh;
    width: 100vw;
} 

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}





@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.performance-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.performance-button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.performance-button {
    padding: 10px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: white;
    font-size: 34px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.performance-button:hover {
    transform: scale(1.15) translateY(-15px);
    transition: transform 0.3s ease;
}

.performance-button:active {
    background-color: transparent;
    transform: scale(0.95);
}

.button-description {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.context-menu {
  position: absolute;
  display: none;
  background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 150%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  list-style-type: none;
  min-width: 180px;
  z-index: 1000;
  overflow: hidden;
}

.context-menu-item {
  padding: 12px 16px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: white;
  transition: background 0.3s ease, transform 0.2s ease;
}

.context-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

/* Optional: Add a subtle separation between the items */
.context-menu-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#statusMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    animation: slideInUp 2s forwards;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.left {
    height:65px;
    display: flex;
    flex-direction: row;
    gap: 8vw;
    background: #2F3B51;
    padding: 20px; /* Adds some space inside the container */
    
    /* Adds a white border with curved edges */
    border: 3px solid white;
    border-radius: 15px; /* Curves the edges */

    /* Gives a 3D shadow effect */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Dark shadow */
    
    /* Optional: Add a slight gradient for depth */
    background: linear-gradient(145deg, #2F3B51, #3C4966);
    animation: slideInUp 2s forwards;
}

.right {
    height:65px;
    display: flex;
    flex-direction: row;
    gap: 6.2vw;
    background: #2F3B51;
    padding: 20px; /* Adds some space inside the container */
    
    /* Adds a white border with curved edges */
    border: 3px solid white;
    border-radius: 15px; /* Curves the edges */

    /* Gives a 3D shadow effect */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Dark shadow */
    
    /* Optional: Add a slight gradient for depth */
    background: linear-gradient(145deg, #2F3B51, #3C4966);
    animation: slideInUp 2s forwards;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Hover effects */
#statusMessage:hover {
    transform: scale(1.15) translateY(-15px); /* Moves up by 10px */
    transition: transform 0.3s ease; /* Smooth transition */
}
/* Click effects */
#statusMessage:active {
    font-size: 0.95em; /* Slightly decrease font size on click */
}


/* Additional styles for different statuses */
#statusMessage.success {
    color: green;
    /* background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%); Green gradient for success */
}

#statusMessage.error {
    color: red;
    /* background: linear-gradient(135deg, #ff0844 0%, #ffb199 100%); Red gradient for error */
}

#statusMessage.info {
    color: white;
    /* background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); Blue gradient for info */
}

#statusMessage.disabled {
    color: gray;
    /* background: linear-gradient(135deg, #bdc3c7 0%, #2c3e50 100%); Grey gradient for disabled */
    cursor: not-allowed; /* Not-allowed cursor for disabled */
    box-shadow: none; /* Remove shadow for disabled */
    pointer-events: none; /* Disable pointer events */
}





/* Existing styles for img */
img {
    width: 100%;
    height: auto;
    max-height: 90%;
    object-fit: fill;
    object-position: 50% 40%;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


#toggleButton {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3d5a80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

#toggleButton:hover {
    background-color: #1e2a38;
}

.hidden {
    display: none;
}

@keyframes openVideo {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes closeVideo {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

#video-grid {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.video-panel {
    position: absolute;
    background: inherit;
}

#video1 {
    top: 6%;
    left: 0%;
    width: 50%;
    height: 100%;
    animation: fadeIn 1s;
}

#live-video-1 {
    background: #2F3B51;
}




#video3 {
    bottom: 0%;
    right: 26%;
    width: 23%;
    height: 45%;
    animation: fadeIn 1s;
}

#live-video-left-eye {
    background: #2F3B51;
}

#video4 {
    bottom: 0%;
    right: 2%;
    width: 23%;
    height: 45%;
    animation: fadeIn 1s;
}

#live-video-right-eye {
    background: #2F3B51;
}

.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
    pointer-events: none;
}



/* Styles for the settings panel */
#settings-panel {
    background: #2F3B51;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 2%;
    top: 6%;
    width: 44%;
    animation: fadeIn 1s forwards;
}


/* Styles for labels and inputs */
#settings-panel label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

#settings-panel input[type="text"],
#settings-panel input[type="number"],
#settings-panel select {
    width: 100%;
    padding: 12px;
    /* margin-bottom: 20px; */
    border: 2px solid #3d5a80;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#settings-panel input[type="text"]:hover,
#settings-panel input[type="number"]:hover,
#settings-panel select:hover {
    border-color: #2a3e5c;
}

#settings-panel input[type="text"]:focus,
#settings-panel input[type="number"]:focus,
#settings-panel select:focus {
    border-color: #1e2a38;
    box-shadow: 0 0 8px rgba(30, 42, 56, 0.7);
    outline: none;
}

/* Styles for radio buttons */
#settings-panel input[type="radio"] {
    margin-right: 10px;
}

/* Styles for radio button labels */
#settings-panel label[for="newDataset"],
#settings-panel label[for="existingDataset"] {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
}

/* Styles for buttons */
#settings-panel .dataset_buttons {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 15px;
    background: #3d5a80;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

#settings-panel .dataset_buttons:hover {
    background: #2a3e5c;
    transform: translateY(-3px);
}

#settings-panel .dataset_buttons:active {
    transform: translateY(0);
}

/* Adding smooth transitions for showing/hiding elements */
.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible {
    display: block;
    opacity: 1;
}

/* Animations for showing elements */
#newDatasetOptions,
#existingDatasetOptions {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#bigRedButton {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: #ff7675;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, background-color 0.3s ease;
    z-index: 10; /* Ensure the button is on top of the image */
}

#bigRedButton:hover {
    background-color: #e57373;
    transform: translateX(-50%) scale(1.1); /* Scale up the button */
}

#bigRedButton:active {
    background-color: #d32f2f;
    transform: translateX(-50%) scale(0.95); /* Scale down slightly when active */
}


#flashButton {
    position: absolute;
    bottom: 20%;
    right: 43%; /* Adjust based on the width of the big red button */
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer;
    z-index: 10; /* Ensure the button is on top of the image */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Remove any padding */
    box-shadow: none; /* Remove any box shadow */
    transition: transform 0.2s ease; /* Smooth transition for the hover effect */
}

#flashButton:hover {
    transform: translateX(-50%) scale(1.1); /* Scale up the button */
}

#flashIcon {
    width: 100%; /* Scale the image to fit the button */
    height: 100%;
    object-fit: contain; /* Ensure the image fits well within the button */
    border: none; /* Remove any border on the image */
    padding: 0; /* Remove any padding on the image */
    margin: 0; /* Remove any margin on the image */
    box-shadow: none; /* Remove any box shadow on the image */
    transition: filter 0.2s ease; /* Smooth transition for the hover effect */
}

#flashButton:hover #flashIcon {
    filter: brightness(1.2); /* Increase brightness on hover */
}

.capture_image_popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    animation: fadeIn 0.5s ease-in-out;
}

.capture_image_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    padding: 20px;
    animation: popupIn 0.5s ease-in-out;
}

.capture_image_popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.capture_image_popup-content p {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: white; /* Darker font color for better readability */
}

.capture_image_popup-content label {
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white; /* Darker font color for better readability */
}

.capture_image_popup-content .radio-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.capture_image_popup-confirm-button {
    align-self: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.capture_image_popup-confirm-button:hover {
    transform: scale(1.3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popupIn {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


/* ============================== */
/* Training Tab Styles */
/* ============================== */

/* Training Section Layout */
.training-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px; /* Added padding to the entire training section */
}

/* Training Images Layout */
.training-images {
    display: flex;
    justify-content: space-between;
    height: 58%; /* Adjusted height to accommodate padding */
    margin-bottom: 10px; /* Space between images and loading bar */
}

.training-image-block {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: inherit;
    /* border: 2px solid #3d5a80; */
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    animation: fadeIn 1s;
}

.training-image-block h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #e3f2fd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px; /* Space between label and image */
}

#training-tab-before-image, #training-tab-target-image, #training-tab-after-image {
    width: 30vw; /* Set a fixed width */
    height: 50vh; /* Set a fixed height */
    object-fit: fill;
    object-position: 50% 40%;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: #2F3B51;
}


/* Stylish Loading Bar Layout */
.training-loading {
    display: flex;
    justify-content: center;
    margin-top: 0.2%;
    margin-bottom: 0.5%; /* Space between loading bar and parameters section */
    animation: fadeIn 1s;
}





/* Stylish Training Control Buttons */
.training-controls {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between buttons */
    margin-right: 20px; /* Space between buttons and loading bar */
    background: #2F3B51;
}

.training-controls button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #e3f2fd;
    border: 2px solid white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease;
}

.training-controls button:hover {
    color: #3d5a80;
    background: #e3f2fd;
}

.training-controls button:active {
    transform: scale(0.95);
}

/* Base style for the dropdown */
#training-tab-select-dataset {
    background-color: transparent;
    color: white;
}

/* Style for the dropdown options */
#training-tab-select-dataset option {
    background-color: #3d5a80;
    color: white;
}

/* Style for hovered options */
#training-tab-select-dataset option:hover {
    background-color: lightblue;
    color: white;
}

/* Style for selected options */
#training-tab-select-dataset option:checked {
    background-color: #6b727a;
    color: white;
}

/* Style for focused dropdown */
#training-tab-select-dataset:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.5); /* Add custom focus shadow */
}


/* Ensure the loading bar container has enough space */
#training-tab-loading-bar-container {
    display: flex;
    align-items: center;
    /* margin-top: 0.4%; */
    padding: 0.1% 0;
    width: 100%; /* Adjust width if necessary */
    position: relative;
    overflow: hidden;
}

#training-tab-loading-bar {
    width: 100%; /* Adjust width to leave space for the label */
    height: 20px;
    position: relative;
    background: linear-gradient(135deg, #374e69 0%, #ffffff 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease;
}

#epoch-progress {
    margin-left: 10px;
    margin-top: 0.5%;
    padding: 5px; /* Padding for some space between border and content */
    color: #fff; /* Text color for readability */
    font-family: 'Poppins', sans-serif; /* Match font style */
    font-size: 14px; /* Adjust font size */
    font-weight: 600; /* Adjust font weight */
    white-space: nowrap; /* Prevent wrapping */
}


/* Training Parameters Layout */
.training-parameters {
    display: flex;
    justify-content: space-between;
    height: 35%; /* Adjusted height */
    padding: 0 0px;
    gap: 2%; /* Space between each block */
}

.training-parameter-block {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2F3B51;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
}

.training-parameter-block h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #e3f2fd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px; /* Space between label and input fields */
}

.training-parameter-block label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #e3f2fd;
}

/* Input and Select Styles */
.training-parameter-block input, .training-parameter-block select {
    width: 70%; /* Adjusted width to touch the edge of the block */
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #3d5a80;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.training-parameter-block input:hover, .training-parameter-block select:hover {
    border-color: #2a3e5c;
}

.training-parameter-block input:focus, .training-parameter-block select:focus {
    border-color: #1e2a38;
    box-shadow: 0 0 8px rgba(30, 42, 56, 0.7);
    outline: none;
}

/* Graph Block Styles */
.training-graph-block {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2F3B51;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
}

.training-graph-block h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #e3f2fd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px; /* Space between label and canvas */
}

canvas {
    width: 100%;
    height: 100%;
}

/* Visibility and Animation Classes */
.hidden {
    display: none;
}

.visible {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.training_popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    animation: fadeIn 0.5s ease-in-out;
}

.training_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    padding: 20px;
    animation: popupIn 0.5s ease-in-out;
}

.training_popup-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    gap: 10px;
}

.training_popup-content p {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: white; /* Darker font color for better readability */
    text-align: center; /* Center text within each paragraph */
}

.training_popup-close-button {
    align-self: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.training_popup-close-button:hover {
    background-color: #3d5a80;
}

.training_popup-yes-button,
.training_popup-no-button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 10px;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.training_popup-yes-button:hover,
.training_popup-no-button:hover {
    background: linear-gradient(135deg, #3d5a80 0%, #1e2a38 100%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.training_popup-yes-button:focus,
.training_popup-no-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.4);
}

.training_popup-yes-button:active,
.training_popup-no-button:active {
    background: linear-gradient(135deg, #1e2a38 0%, #001a40 100%);
    transform: translateY(1px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popupIn {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-icon {
    border: 4px solid rgba(255, 255, 255, 0.2);  /* Light grey */
    border-top: 4px solid white;                 /* White */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
}


/* Darkened background for the calibration procedure */
.calibration-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Darken background more */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Ensure it is above other elements */
}

/* Popup for the calibration procedure */
.calibration-popup {
    background-color: transparent;
    text-align: center;
}



/* Styles for the content container */
.calibration-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the message */
.calibration-message {
    color: white;
    text-align: center;
    margin-bottom: 8%;
}

/* Styles for the button container */
.calibration-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Styles for the buttons */
.calibration-button-container button {
    margin: 0 10px;
    padding: 10px 20px;
}

/* Styles for progress indicators */
.calibration-step-progress,
.calibration-progress {
    color: white;
    margin-top: 10px;
    text-align: center;
}

/* Start and Cancel buttons */
.calibration-start-button,
.calibration-cancel-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #3d5a80;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect for the buttons */
.calibration-start-button:hover,
.calibration-cancel-button:hover {
    background-color: #1e2a38;
    transform: translateY(-2px);
}

/* Focus and active states */
.calibration-start-button:focus,
.calibration-cancel-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.4);
}

.calibration-start-button:active,
.calibration-cancel-button:active {
    transform: translateY(1px);
}


/* Spinning Loader */
.loading-spinner {
    margin-bottom: 5%;
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light grey */
    border-top: 4px solid white; /* White on top */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-top: 10px; /* Adjust margin to center it properly */
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Calibration message styling */
.calibration-message {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.panel {
    position: relative; /* Set the parent as relative for absolute positioning */
}

.frame-rate-label {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: -15px; /* Position label above the video */
    left: 50%;
    transform: translateX(-50%); /* Center align */
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.1);
    width: 23vw;
    /* height: 5vh; */
    padding: 8px 5px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    z-index: 1; /* Ensure it appears in front of the video */
}

.frame-rate-label:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}
