body, html {
    /* margin: 0; */
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    /* background: linear-gradient(135deg, #293241 0%, #98c1d9 100%); */
    /* background: transparent; */
    color: #e8e8e8;
    overflow: hidden;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #e3f2fd;
    text-align: center;
    /* margin-top: 20px; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
}

#container {
    height: 100%;
    width: 100%;
    /* margin-top: 5vh; */
    position: relative;
}

#top-panel {
    height: auto;
    margin-top: 2vh;
    /* background: rgba(255, 255, 255, 0.85); */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInDown 1s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#main-content {
    height: 80%;
    animation: fadeIn 2s;
    /* margin-top: 6vh; */
    /* position: relative; */
    /* background: linear-gradient(135deg, #293241 0%, #98c1d9 100%); */
    background: transparent;
}

#Test h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #e3f2fd;
    text-align: center;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Base style for the dropdown */
#existingDatasets {
    background-color: transparent;
    color: white;
}

/* Style for the dropdown options */
#existingDatasets option {
    background-color: #3d5a80;
    color: white;
}

/* Style for hovered options */
#existingDatasets option:hover {
    background-color: lightblue;
    color: white;
}

/* Style for selected options */
#existingDatasets option:checked {
    background-color: #6b727a;
    color: white;
}

/* Style for focused dropdown */
#existingDatasets:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.5); /* Add custom focus shadow */
}

#datasetName {
    margin: 10px 0px;
}

#datasetNameLabel {
    margin-top: 30px;
}

.dataset_buttons {
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 150%);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.dataset_buttons:hover {
    background: linear-gradient(135deg, #3d5a80 0%, #1e2a38 150%);
    transform: scale(1.05);
}

.dataset_buttons:active {
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 150%);
    transform: scale(0.95);
}

.dataset_buttons:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.5);
}






.tab {
    position: relative;
    display: flex;
    width: 40%;
    justify-content: center;
    border-bottom: 2px solid #444;
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 150%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 0;
    /* margin: 2rem auto; */
}
.tablinks{
    width: 100%;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 18px;
    color: #ffffff;
    margin: 0 20px;
    transition: color 0.3s;
    font-family: 'Poppins', sans-serif;
}

.tab button:hover {
    color: #ffffff;
}

.tab button.active {
    color: white;
}

.tab .active-indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    background: linear-gradient(135deg, #2b394a 0%, #ffffff 100%);
    border-radius: 2px;
    transition: all 0.3s ease;
}



.tabcontent {
    display: none;
    height: 100%;
    width: 100%;
}

#Test, #Train, #CreateDataset {
    height: 100%;
    width: 100%;
}

.panel {
    opacity: 0;
    animation: fadeInPanel 1s forwards;
}

@keyframes fadeInPanel {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.correction-model-select-block {
    width: 14%;
    margin: auto;
    /* margin-top: 1vh; Adjust this value to shift upwards */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: inherit;
    padding: 5px;
    animation: fadeIn 1s;
}



/* Base style for the dropdown */
#correction-select-model {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 2px solid #ffff;
}

/* Style for the dropdown options */
#correction-select-model option {
    background-color: #3d5a80;
    color: white;
}

/* Style for hovered options */
#correction-select-model option:hover {
    background-color: lightblue;
    color: white;
}

/* Style for selected options */
#correction-select-model option:checked {
    background-color: #6b727a;
    color: white;
}

/* Style for focused dropdown */
#correction-select-model:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.5); /* Add custom focus shadow */
}

#left-panel {
    float: left;
    width: 48%;
    height: 94%;
    margin-top: -1%;
    margin-left: 1%;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInLeft 1.5s forwards;
}
/* 
#live-video-left {
    margin-top: 10vh;
} */

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#right-panel {
    float: right;
    width: 48%;
    height: 94%;
    margin-top: -1%;
    margin-right: 1%;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInRight 1.5s forwards;
}
/* 
#live-video-right {
    margin-top: 10vh; 
} */

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


#statusMessage {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: 'Montserrat', sans-serif; /* Modern font */
    font-size: 13px; /* Adjust font size */
    color: #ffffff; /* Text color */
    padding: 20px; /* Padding for spacing */
    border: none; /* Remove border */
    border-radius: 50%; /* Fully rounded corners for circle */
    text-align: center; /* Center the text */
    width: 50px; /* Fixed width */
    height: 50px; /* Fixed height */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    /* margin-top: -10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
    cursor: pointer; /* Pointer cursor on hover */
    animation: slideInUp 2s forwards;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Hover effects */
#statusMessage:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Click effects */
#statusMessage:active {
    transform: scale(0.95); /* Slightly scale down on click */
}

/* Additional styles for different statuses */
#statusMessage.success {
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%); /* Green gradient for success */
}

#statusMessage.error {
    background: linear-gradient(135deg, #ff0844 0%, #ffb199 100%); /* Red gradient for error */
}

#statusMessage.info {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); /* Blue gradient for info */
}

#statusMessage.disabled {
    background: linear-gradient(135deg, #bdc3c7 0%, #2c3e50 100%); /* Grey gradient for disabled */
    cursor: not-allowed; /* Not-allowed cursor for disabled */
    box-shadow: none; /* Remove shadow for disabled */
    pointer-events: none; /* Disable pointer events */
}





/* Existing styles for img */
img {
    width: 100%;
    height: auto;
    max-height: 90%;
    object-fit: fill;
    object-position: 50% 40%;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


#toggleButton {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3d5a80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

#toggleButton:hover {
    background-color: #1e2a38;
}

.hidden {
    display: none;
}

@keyframes openVideo {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes closeVideo {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

#video-grid {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.video-panel {
    position: absolute;
    background: inherit;
}

#video1 {
    top: 6%;
    left: 0%;
    width: 50%;
    height: 100%;
    animation: fadeIn 1s;
}




#video3 {
    bottom: 0%;
    right: 26%;
    width: 23%;
    height: 45%;
    animation: fadeIn 1s;
}

#video4 {
    bottom: 0%;
    right: 2%;
    width: 23%;
    height: 45%;
    animation: fadeIn 1s;
}


.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
    pointer-events: none;
}



/* Styles for the settings panel */
#settings-panel {
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 2%;
    top: 6%;
    width: 44%;
    animation: fadeIn 1s forwards;
}


/* Styles for labels and inputs */
#settings-panel label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

#settings-panel input[type="text"],
#settings-panel input[type="number"],
#settings-panel select {
    width: 100%;
    padding: 12px;
    /* margin-bottom: 20px; */
    border: 2px solid #3d5a80;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#settings-panel input[type="text"]:hover,
#settings-panel input[type="number"]:hover,
#settings-panel select:hover {
    border-color: #2a3e5c;
}

#settings-panel input[type="text"]:focus,
#settings-panel input[type="number"]:focus,
#settings-panel select:focus {
    border-color: #1e2a38;
    box-shadow: 0 0 8px rgba(30, 42, 56, 0.7);
    outline: none;
}

/* Styles for radio buttons */
#settings-panel input[type="radio"] {
    margin-right: 10px;
}

/* Styles for radio button labels */
#settings-panel label[for="newDataset"],
#settings-panel label[for="existingDataset"] {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
}

/* Styles for buttons */
#settings-panel .dataset_buttons {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 15px;
    background: #3d5a80;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

#settings-panel .dataset_buttons:hover {
    background: #2a3e5c;
    transform: translateY(-3px);
}

#settings-panel .dataset_buttons:active {
    transform: translateY(0);
}

/* Adding smooth transitions for showing/hiding elements */
.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible {
    display: block;
    opacity: 1;
}

/* Animations for showing elements */
#newDatasetOptions,
#existingDatasetOptions {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#bigRedButton {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: #ff7675;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, background-color 0.3s ease;
    z-index: 10; /* Ensure the button is on top of the image */
}

#bigRedButton:hover {
    background-color: #e57373;
    transform: translateX(-50%) scale(1.1); /* Scale up the button */
}

#bigRedButton:active {
    background-color: #d32f2f;
    transform: translateX(-50%) scale(0.95); /* Scale down slightly when active */
}


#flashButton {
    position: absolute;
    bottom: 20%;
    right: 43%; /* Adjust based on the width of the big red button */
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer;
    z-index: 10; /* Ensure the button is on top of the image */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Remove any padding */
    box-shadow: none; /* Remove any box shadow */
    transition: transform 0.2s ease; /* Smooth transition for the hover effect */
}

#flashButton:hover {
    transform: translateX(-50%) scale(1.1); /* Scale up the button */
}

#flashIcon {
    width: 100%; /* Scale the image to fit the button */
    height: 100%;
    object-fit: contain; /* Ensure the image fits well within the button */
    border: none; /* Remove any border on the image */
    padding: 0; /* Remove any padding on the image */
    margin: 0; /* Remove any margin on the image */
    box-shadow: none; /* Remove any box shadow on the image */
    transition: filter 0.2s ease; /* Smooth transition for the hover effect */
}

#flashButton:hover #flashIcon {
    filter: brightness(1.2); /* Increase brightness on hover */
}

.capture_image_popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    animation: fadeIn 0.5s ease-in-out;
}

.capture_image_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    padding: 20px;
    animation: popupIn 0.5s ease-in-out;
}

.capture_image_popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.capture_image_popup-content p {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: white; /* Darker font color for better readability */
}

.capture_image_popup-content label {
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white; /* Darker font color for better readability */
}

.capture_image_popup-content .radio-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.capture_image_popup-confirm-button {
    align-self: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.capture_image_popup-confirm-button:hover {
    transform: scale(1.3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popupIn {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


/* ============================== */
/* Training Tab Styles */
/* ============================== */

/* Training Section Layout */
.training-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px; /* Added padding to the entire training section */
}

/* Training Images Layout */
.training-images {
    display: flex;
    justify-content: space-between;
    height: 58%; /* Adjusted height to accommodate padding */
    margin-bottom: 10px; /* Space between images and loading bar */
}

.training-image-block {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: inherit;
    /* border: 2px solid #3d5a80; */
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    animation: fadeIn 1s;
}

.training-image-block h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #e3f2fd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px; /* Space between label and image */
}

#training-tab-before-image, #training-tab-target-image, #training-tab-after-image {
    width: 30vw; /* Set a fixed width */
    height: 50vh; /* Set a fixed height */
    object-fit: fill;
    object-position: 50% 40%;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* background-color: rgb(99, 255, 104); */
}


/* Stylish Loading Bar Layout */
.training-loading {
    display: flex;
    justify-content: center;
    margin-top: 0.2%;
    margin-bottom: 0.5%; /* Space between loading bar and parameters section */
    animation: fadeIn 1s;
}





/* Stylish Training Control Buttons */
.training-controls {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between buttons */
    margin-right: 20px; /* Space between buttons and loading bar */
}

.training-controls button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #e3f2fd;
    border: 2px solid #3d5a80;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease;
}

.training-controls button:hover {
    color: #3d5a80;
    background: #e3f2fd;
}

.training-controls button:active {
    transform: scale(0.95);
}

/* Base style for the dropdown */
#training-tab-select-dataset {
    background-color: transparent;
    color: white;
}

/* Style for the dropdown options */
#training-tab-select-dataset option {
    background-color: #3d5a80;
    color: white;
}

/* Style for hovered options */
#training-tab-select-dataset option:hover {
    background-color: lightblue;
    color: white;
}

/* Style for selected options */
#training-tab-select-dataset option:checked {
    background-color: #6b727a;
    color: white;
}

/* Style for focused dropdown */
#training-tab-select-dataset:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(61, 90, 128, 0.5); /* Add custom focus shadow */
}


/* Ensure the loading bar container has enough space */
#training-tab-loading-bar-container {
    display: flex;
    align-items: center;
    /* margin-top: 0.4%; */
    padding: 0.1% 0;
    width: 100%; /* Adjust width if necessary */
    position: relative;
    overflow: hidden;
}

#training-tab-loading-bar {
    width: 100%; /* Adjust width to leave space for the label */
    height: 20px;
    position: relative;
    background: linear-gradient(135deg, #374e69 0%, #ffffff 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease;
}

#epoch-progress {
    margin-left: 10px;
    margin-top: 0.5%;
    padding: 5px; /* Padding for some space between border and content */
    color: #fff; /* Text color for readability */
    font-family: 'Poppins', sans-serif; /* Match font style */
    font-size: 14px; /* Adjust font size */
    font-weight: 600; /* Adjust font weight */
    white-space: nowrap; /* Prevent wrapping */
}


/* Training Parameters Layout */
.training-parameters {
    display: flex;
    justify-content: space-between;
    height: 35%; /* Adjusted height */
    padding: 0 0px;
    gap: 2%; /* Space between each block */
}

.training-parameter-block {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: inherit;
    border: 2px solid #3d5a80;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
}

.training-parameter-block h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #e3f2fd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px; /* Space between label and input fields */
}

.training-parameter-block label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #e3f2fd;
}

/* Input and Select Styles */
.training-parameter-block input, .training-parameter-block select {
    width: 70%; /* Adjusted width to touch the edge of the block */
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #3d5a80;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.training-parameter-block input:hover, .training-parameter-block select:hover {
    border-color: #2a3e5c;
}

.training-parameter-block input:focus, .training-parameter-block select:focus {
    border-color: #1e2a38;
    box-shadow: 0 0 8px rgba(30, 42, 56, 0.7);
    outline: none;
}

/* Graph Block Styles */
.training-graph-block {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: inherit;
    border: 2px solid #3d5a80;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
}

.training-graph-block h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #e3f2fd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px; /* Space between label and canvas */
}

canvas {
    width: 100%;
    height: 100%;
}

/* Visibility and Animation Classes */
.hidden {
    display: none;
}

.visible {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.training_popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    animation: fadeIn 0.5s ease-in-out;
}

.training_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    padding: 20px;
    animation: popupIn 0.5s ease-in-out;
}

.training_popup-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    gap: 10px;
}

.training_popup-content p {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: white; /* Darker font color for better readability */
    text-align: center; /* Center text within each paragraph */
}

.training_popup-close-button {
    align-self: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(135deg, #1e2a38 0%, #3d5a80 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.training_popup-close-button:hover {
    background-color: #3d5a80;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popupIn {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


