<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Gaze Correction</title>
</head>
<body>
    <div id="container">
        <div id="top-panel">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Train')">Train</button>
                <button class="tablinks active" onclick="openTab(event, 'Test')">Gaze Correction</button>
                <button class="tablinks" onclick="openTab(event, 'CreateDataset')">Create Dataset</button>
            </div>
        </div>        
        <div id="main-content">
            <div id="Test" class="tabcontent" style="display: block;">
                <div id="left-panel" class="panel">
                    <img id="live-video-left" alt="Live Video Left">
                </div>
                <div id="right-panel" class="panel">
                    <img id="live-video-right" alt="Live Video Right">
                </div>
                <div id="statusMessage"></div>
            </div>
            <div id="Train" class="tabcontent">
                <div>
                    <h2>Training Section</h2>
                    <p>This is the content for the Training tab.</p>
                </div>
            </div>
            <div id="CreateDataset" class="tabcontent">
                <div id="video-grid">
                    <div id="video1" class="video-panel">
                        <img id="live-video-1" alt="Live Video 1">
                        <button id="bigRedButton"></button>
                        <button id="flashButton" class="flash-button" onclick="toggleFlash()"" onmousedown="startHold()" onmouseup="stopHold()" onmouseleave="stopHold()">
                            <img id="flashIcon" src="/static/flash_on.png" alt="Flash Icon">
                        </button>
                    </div>
                    
                                     
                    <div id="settings-panel" class="panel">
                        <label>
                            <input type="radio" name="datasetMode" value="new" onclick="toggleDatasetMode()" checked> New Dataset
                        </label>
                        <label>
                            <input type="radio" name="datasetMode" value="existing" onclick="toggleDatasetMode()"> Existing Dataset
                        </label>

                        <div id="newDatasetOptions" class="hidden">
                            <label for="datasetName" id="datasetNameLabel">Dataset Name:</label>
                            <input type="text" id="datasetName" name="datasetName">

                            <button class="dataset_buttons" id="start" onclick="startNewDataset()">Create</button>
                        </div>
                        <div id="existingDatasetOptions" class="hidden">
                            <label for="existingDatasets">Choose Dataset:</label>
                            <select id="existingDatasets" name="existingDatasets">
                                <option value="no_datasets">No Datasets Found</option>
                            </select>
                            <button class="dataset_buttons" id="startExistingDatasetButton">Start</button>
                            <button class="dataset_buttons" id="downloadDataset" onclick="downloadDataset()">Download</button>
                        </div>                     
                    </div>
                    <div id="video3" class="video-panel">
                        <img id="live-video-left-eye" alt="Left Eye View">
                    </div>
                    <div id="video4" class="video-panel">
                        <img id="live-video-right-eye" alt="Right Eye View">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
